apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: milk
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: {{ .Values.frontend.port }}
      nodePort: 30080

