apiVersion: v1
kind: PersistentVolume
metadata:
  name: mysql-pv
  annotations:
    "helm.sh/resource-policy": keep
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: mysql-local
  hostPath:
    path: /mnt/data/mysql

