apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.redis.host }}
  namespace: milk
  labels:
    app: redis
spec:
  type: ClusterIP
  selector:
    app: redis
  ports:
    - port: {{ .Values.redis.port }}
      targetPort: {{ .Values.redis.port }}

